.table-wrapper {
	overflow-y: overlay;
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 0.28571429rem;

	thead {
		position: sticky;
		z-index: 1;
		top: 0;
	}

	&::-webkit-scrollbar {
		width: 0.5rem;
		display: none;
	}

	&:hover::-webkit-scrollbar {
		display: block;
	}
}
